{% extends 'base.html' %}

{% block content %}

{% if messages %}
    {% for message in messages %}
      <div class="alert alert-dark mt-3" role="alert">
        {{ message }}
      </div>
    {% endfor %}
{% endif %}

<div class="row mt-3">
    <div class="col-12">
        <p class="mt-3">
            {% if my_user %}
                <strong>Your User:</strong>{{ my_user.username }} <a class="text-danger" href="{% url 'dashboard:my-instagram-user-delete' %}">[remove]</a>
            {% else %}
                <a class="btn btn-primary mt-3" href="{% url 'dashboard:my-instagram-user-create' %}">Add Your Instagram User</a>
            {% endif %}
        </p>
    </div>
</div>

<div class="row mt-5">
    <div class="col-6">
        <h3>Instagram Users:<a class="btn btn-success float-right" href="{% url 'dashboard:instagram-user-create' %}">Add</a></h3>
        {% if other_users %}
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">Username</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for user in other_users %}
            <tr>
                <td>{{ user.username|truncatechars:50 }}</td>
                <td><a class="text-danger" href="{% url 'dashboard:instagram-user-delete' user.id %}">[remove]</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
            <small>You have to add instagram users which you want to send comment!</small>
        {% endif %}
    </div>

    <div class="col-6">
        <h3>Comments:<a class="btn btn-success float-right" href="{% url 'dashboard:comment-create' %}">Add</a></h3>
        {% if comments %}
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">Text</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for comment in comments %}
            <tr>
                <td>{{ comment.text|truncatechars:50 }}</td>
                <td><a class="text-danger" href="{% url 'dashboard:comment-delete' comment.id %}">[remove]</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
            <small>You have to add comments which you want to send, bot send them randomly!</small>
        {% endif %}
    </div>
</div>
{% endblock %}