{% extends 'base.html' %}


{% block content %}
<div class="row">
    <div class="col-4 mx-auto">
        <form class="mt-5" method="post">{% csrf_token %}
            <p>Are you sure you want to delete "{{ object }}"?</p>
            <input class="btn btn-danger" type="submit" value="Confirm">
        </form>
    </div>
</div>
{% endblock %}