{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h3 class="mt-3">Logs</h3>
        <textarea class="form-control disabled" style="min-height: 512px;">{{ logs }}</textarea>
    </div>
</div>
{% endblock %}