{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h3 class="mt-3">{{ object_title }}</h3>
        <form class="mt-5" method="post">{% csrf_token %}
            {{ form|crispy }}
            <input class="btn btn-light" type="submit" value="Save">
        </form>
    </div>
</div>
{% endblock %}